<!-- templates/pdf_header.html -->
<table style="width: 100%; border-collapse: collapse; border: none;">
    <tr>
        <td style="width: 25%; border: none;">
            <!-- IMPORTANT: Use the file:/// protocol for wkhtmltopdf -->
            <img src="file:///C:/anarlab/static/lab-logo.png" style="width: 150px;">
        </td>
        <td style="width: 75%; text-align: right; vertical-align: middle; border: none;">
            <strong style="font-size: 16px;">ANARPAM LABO</strong><br>
            <span style="font-size: 12px;">ILOT C<br>KSAR<br>Mauritanie</span>
        </td>
    </tr>
</table>
<hr style="margin-top: 10px;">